body{
    background:linear-gradient(150deg,rgb(0, 194, 201),rgb(9, 88, 236));
    height:630px;
    
}
.main{
    text-align: center;
    margin-top: 10%;
    margin-left: 30%;
   font-size: 120%;
    padding-left: 30px;
    border: 2px solid black;
    border-radius: 10px;
    width:600px;
    background-color: rgb(219, 217, 179);
}
.id>input{
    margin-bottom: 10px;
    margin-left: 40px;
    background:transparent;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 100%;
}
.id>input::placeholder{
    color: rgb(177, 174, 174);
    font-size: 90%;
}
.pwd>input{
    margin-left: 49px;
    background:transparent;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 100%;
}
.bt>button{
    background-color: rgb(235, 166, 62);
    color: aliceblue;
    margin-top: 10px;
    font-size: 100%;
    border: 1.5px solid rgb(0, 0, 0);


}