* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

h1 {
    width: 90%;
    background-color: orange;
    margin: auto;
    text-shadow: 3px 0px 5px blue;

    text-align: center;
}

.s1 {
    width: 90%;
    height: 300px;
    border: 2px solid black;
    margin: 6px auto;
    background-color: cornflowerblue;
    position: relative;
    border-radius: 3px;
}

h3 {
    background-color: brown;
    color: azure;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 6px;
    border-radius: 3px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

@media screen and (min-width:1150px) {

    .r1,.r2,.r3 {
        width: 33.33%;
        float: left;
    }
}

@media screen and (min-width:600px) and (max-width:1149px) {
    .r1,.r2,.r3{float: left;}
    .r1,.r2 {
        width: 50%;
    }
    .r3{
        width: 100%;
    }